@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

main, nav, footer {
    font-family: 'Roboto Mono', monospace;
}

nav, .page-footer {
    background-color: #abc141;
}

.bg-container {
    height: 80vh;
    width: 100%;
    position: relative;
    background: url("../images/page-background-crop.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.landing {
    background-color: #abc141;
    color: white;
    opacity: 0.9;
}