@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

main, nav, footer {
    font-family: 'Roboto Mono', monospace;
    color: #2c642e;
}

nav {
    background-color: white;
}

nav ul a {
    color: #2c642e;
}

nav .brand-logo {
    color: #2c642e;
}


.page-footer {
    background-color: #2c642e;
}

.bg-container {
    height: 80vh;
    width: 100%;
    position: relative;
    background: url("../images/page-background-crop.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}

.landing {
    background-color: #2c642e;
    color: white;
    opacity: 0.9;
}

.fa-hamburger::before {
    color: #2c642e;
}

.fa-times-circle::before {
    color: #2c642e;
}

.cat-img {
    height: 200px;
    width: 200px;
}

#rec-style {
    font-size: 18px;
    font-weight: 500;
    
}

.btn-large {
    width: 100px;
}

.rec-card {
    padding-top: 25px;
}

.show-img {
    height: 300px;
    width: 300px;
}

.card-image {
    height: 20em;
}

.fa-question-circle:before {
    content: "\f059";
    color: #2c642e;
}

#icon {
    padding-top: 25px;
}



