@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/*----------------------------------------------------General formatting for all pages*/

main, nav, footer {
    font-family: 'Roboto Mono', monospace;
    color: #2c642e;
}

.bg-container {
    height: 80vh;
    width: 100%;
    position: relative;
    background: url("../images/page-background-crop.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.flashes h5 {
    background-color: #9ad39c;
    color: white;
    opacity: 0.9;
    line-height: 2;
}

/*----------------------------------------------------Button styling for all pages*/

.btn {
    background-color: #2c642e;
}

.btn:hover {
    background-color: #9ad39c;
    color: #2c642e;
}

.btn-large {
    margin-top: 15px;
    margin-bottom: 25px;
    background-color: #2c642e;
    width: 150px;
}

.btn-large:hover {
    background-color: #9ad39c;
    color: #2c642e;
}

.btn-login {
    color: #2c642e;
    background-color:white;
}

.btn-login:hover {
    background-color: #9ad39c;
}

.btn-floating i {
    background-color: #2c642e;
}

.red-btn {
    background-color: red;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.red-btn:hover {
    background-color:#fcc;
    color: red;
}

.blue-btn {
    background-color: blue;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.blue-btn:hover {
    background-color: #99f;
    color: blue;
}

.btn-confirm {
    margin-top: 5px;
    margin-bottom: 5px;
}

.full {
    margin-top: 20px;
}

/*----------------------------------------------------NavBar styling*/

nav {
    background-color: white;
}

nav ul a {
    color: #2c642e;
}

nav .brand-logo {
    color: #2c642e;
}


.fa-hamburger::before {
    color: #2c642e;
}

/*----------------------------------------------------SideNav styling*/

.sidenav {
    font-family: 'Roboto Mono', monospace;
    color: #2c642e;
}

.sidenav li>a {
    color: #2c642e;
}

.collapsible-header {
    display: block;
}
/*----------------------------------------------------Footer styling*/

.page-footer {
    background-color: #2c642e;
    padding-top: 50px;
}

a.email {
    color: white;
}

.email:hover {
    color: #9ad39c;
}

a.social {
    color: white;
}

a.social:hover {
    color: #9ad39c;
}

/*----------------------------------------------------Landing Page styling*/

.landing {
    background-color: #2c642e;
    color: white;
    opacity: 0.9;
    margin-top: 25px;
}

a.land-link {
    color: white;
    text-decoration: none;
}

a.land-link:hover {
    color: #9ad39c;
}

/*----------------------------------------------------General card styling for all pages using*/

.fa-times-circle::before {
    color: #2c642e;
}

.cat-card {
    margin-top: 25px;
}

.card .card-content p {
    font-size: 14px;
}

.rec-style {
    font-size: 18px;
    font-weight: 500;
}

p.recipe-p {
    padding-bottom: 10px;
}

.card-image {
    height: 23em;
}

/*----------------------------------------------------Styling for show_recipe*/

.rec-card {
    padding-top: 25px;
    text-align: justify;
}

.show-img {
    height: 350px;
    width: 350px;
    margin-top: 50px;
}

.sad-face {
    height: 200px;
    width: 200px;
}

/*----------------------------------------------------media query to control image size*/

@media (min-width: 320px) and (max-width: 568px) {
    .show-img {
        height: 275px;
        width: 275px;
        margin-top: 20px;
    }
    
    h4 {
        text-align: center;
    }
}

.method {
    padding-bottom: 15px;
}


.fa-question-circle:before {
    content: "\f059";
    color: #2c642e;
}

.icon {
    padding-top: 30px;
    padding-right: 20px;
}

#wrap {
    padding-left: 0px;
    padding-right: 0px;
}

/*----------------------------------------------------Search bar styling*/

.search {
      color: #2c642e;
}

/*----------------------------------------------------Add/Edit recipe styling*/

.fa-plus-square::before {
      color: #2c642e;
}

.fa-trash-alt::before {
      color: #2c642e;
}

  /*----------------------------------------------------Cookbook styling*/

.book-chef {
      font-size: 12px;
}

.card-title-chef {
      font-weight: 600;
}

a.message {
      text-decoration: underline;
      color: #2c642e;
} 

  /*----------------------------------------------------Form styling*/

.input-field label {
    color: #5fb962;
}

input[type=text]:not(.browser-default) {
    color: #2c642e;
    font-family: 'Roboto Mono', monospace;
}

.reglog input[type=text]:not(.browser-default) {
    color: white;
}
  
.input-field input[type=text]:focus + label {
    color: white;
}
  
.reglog .input-field input[type=text]:focus + label {
    color: white;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 #000;
}
  
.input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 red;
}
  
.input-field .prefix.active {
    color: white;
}

/*----------------------------------------------------Back to Top Button*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border-radius: 15px;
    outline: #2c642e;
    background-color: #2c642e;
    border-color: white;
    color: white;
    margin: 10px;
    cursor: pointer;
    padding: 15px;
  }
  
  #myBtn:hover {
    background-color: #2c642e;
    color: #fff;
    border-color: #fff;
  }
  

/*----------------------------------------------------Media query to keep footer at bottom of page on iPad Pro*/

@media (min-width: 1024px) and (max-width: 1365px) {

    .main-container {
    min-height: 50vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 250px;
    }
}

/*----------------------------------------------------Profile Page Styling*/

.profile-btn {
      margin-top: 5px;
      margin-bottom: 5px;;
}

