{% extends "base.html" %}
{% block content %}

<h3 class="center-align">add recipe</h3>

<div class="container">
    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix"></i>
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>Which category does your recipe belong to?</option>
                        {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name"></label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix"></i>
                    <input id="recipe_name" name="recipe_name" type="text" class="validate">
                    <label for="recipe_name">recipe name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix"></i>
                    <input id="recipe_chef" name="recipe_chef" type="text" class="validate">
                    <label for="recipe_chef">recipe chef</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix"></i>
                    <input id="recipe_cookbook" name="recipe_cookbook" type="text" class="validate">
                    <label for="recipe_cookbook">recipe cookbook</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix"></i>
                    <input id="recipe_image" name="recipe_image" type="text" class="validate">
                    <label for="recipe_image">recipe image</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix"></i>
                    <input id="recipe_difficulty" name="recipe_difficulty" type="text" class="validate">
                    <label for="recipe_difficulty">recipe difficulty</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix"></i>
                    <input id="recipe_time" name="recipe_time" type="text" class="validate">
                    <label for="recipe_time">recipe time</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix"></i>
                    <input id="recipe_ingredients" name="recipe_ingredients" type="text" class="validate">
                    <label for="recipe_ingredients">recipe ingredients</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-circle prefix"></i>
                    <input id="recipe_method" name="recipe_method" type="text" class="validate">
                    <label for="recipe_method">recipe method</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit">add recipe</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}