{% extends "base.html" %}
{% block content %}

<h3 class="center-align">add recipe</h3>
<!--content container-->
<div class="container">
    <!--show which user is logge in to the site-->
    <p class="right-align">logged in: {{session.user}}</p>
    <!--Materialize card-->
    <div class="row card-panel">
        <!--form to allow input of new recipe to DB-->
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <!--add category name fromn dropdown-->
            <div class="row">
                <div class="col s1" id="icon">
                    <i class="fas fa-question-circle icon-size fa-1x"></i>
                </div>
                <div class="input-field col s10">
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled selected>recipe category</option>
                        <!--jinja loop to pull category names from DB-->
                        {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category_name"></label>
                </div>
                <div class="col s1"></div>
            </div>
            <!--add recipe name-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-bread-slice fa-1x" id="icon"></i>
                </div>
                <div class="input-field col s10">
                    <input id="recipe_name" name="recipe_name" type="text" class="validate">
                    <label for="recipe_name">recipe name</label>
                </div>
                <div class="col s1"></div>
            </div>
            <!--add recipe chef-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-user fa-1x" id="icon"></i>
                </div>
                <div class="input-field col s10">
                    <input id="recipe_chef" name="recipe_chef" type="text" class="validate">
                    <label for="recipe_chef">recipe chef</label>
                </div>
                <div class="col s1"></div>
            </div>
            <!--add recipe cookbook name-->
            <div class="row">
                <div class="col s1" id="icon">
                    <i class="fas fa-book fa-1x"></i>
                </div>
                <div class="input-field col s10">
                    <input id="cookbook_name" name="cookbook_name" type="text" class="validate">
                    <label for="cookbook_name">recipe cookbook</label>
                </div>
                <div class="col s1"></div>
            </div>
            <!--add recipe image URL-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-camera fa-1x" id="icon"></i>
                </div>
                <div class="input-field col s10">
                    <input id="recipe_image" name="recipe_image" type="text" class="validate">
                    <label for="recipe_image">recipe image - add URL here</label>
                </div>
                <div class="col s1"></div>
            </div>
            <!--add recipe difficulty-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-user-cog fa-1x" id="icon"></i>
                </div>
                <div class="input-field col s10">
                    <input id="recipe_difficulty" name="recipe_difficulty" type="text" class="validate">
                    <label for="recipe_difficulty">recipe difficulty</label>
                </div>
                <div class="col s1"></div>
            </div>
            <!--add recipe time-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-clock fa-1x" id="icon"></i>
                </div>
                <div class="input-field col s10">
                    <input id="recipe_time" name="recipe_time" type="text" class="validate">
                    <label for="recipe_time">recipe time</label>
                </div>
                <div class="col s1"></div>
            </div>
            <!--add recipe ingredients-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-list fa-1x" id="icon"></i>
                </div>
                <div class="input-field col s10 input_ing_wrap">
                    <input id="recipe_ingredients" name="recipe_ingredients" type="text" class="validate">
                    <label for="recipe_ingredients">ingredients</label>
                </div>
            </div>
            <!--add extra recipe ingredients button-->
            <div class="row">
                <div class="col s1">
                    <a href="#" class="add_ing_button"><i class="far fa-plus-square"></i></a>
                </div>
            </div>
            <!--add recipe method textarea-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-list fa-1x" id="icon"></i>
                </div>
                <div class="input-field col s10 input_meth_wrap">
                    <textarea id="recipe_method" type="text" name="recipe_method"></textarea>
                    <label for="recipe_method">method</label>
                </div>
            </div>
            <!--add extra recipe method textarea-->
            <div class="row">
                <div class="col s1">
                    <a href="#" class="add_meth_button"><i class="far fa-plus-square"></i></a>
                </div>
            </div>
            <!--submit form to DB-->
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn" type="submit">add recipe</button>
                </div>
            </div>
    </div>
    </form>
</div>
</div>

{% endblock %}