{% extends "base.html" %}
{% block content %}

<h3 class="center-align">add cookbook</h3>
<!--content container-->
<div class="container">
    <!--show which user is logged in to the site-->
    <p class="center-align">logged in: {{session.user}}</p>
    <!--Materialize card-->
    <div class="row card-panel">
        <!--form to allow input of new cookbook to DB-->
        <form class="col s12" method="POST" action="{{ url_for('add_cookbook') }}">
            <!--add cookbook name-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-bread-slice fa-2x icon hide-on-small-only"></i>
                </div>
                <div class="input-field col s11">
                    <input id="cookbook_name" name="cookbook_name" type="text" class="validate" required>
                    <label class="add-label" for="cookbook_name">cookbook name</label>
                </div>
                <div class="col s1"></div>
            </div>
            <!--add cookbook chef-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-user fa-2x icon hide-on-small-only"></i>
                </div>
                <div class="input-field col s11">
                    <input id="cookbook_chef" name="cookbook_chef" type="text" class="validate" required>
                    <label class="add-label" for="cookbook_chef">cookbook chef</label>
                </div>
                <div class="col s1"></div>
            </div>
            <!--add cookbook image page URL from Amazon-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-book fa-2x icon hide-on-small-only"></i>
                </div>
                <div class="input-field col s11">
                    <input id="cookbook_image" name="cookbook_image" type="text" class="validate" required>
                    <label class="add-label" for="cookbook_image">cookbook image - add Amazon image URL here</label>
                </div>
                <div class="col s1"></div>
            </div>
            <!--add cookbook Amazon page URL-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-camera fa-2x icon hide-on-small-only"></i>
                </div>
                <div class="input-field col s11">
                    <input id="cookbook_amazon" name="cookbook_amazon" type="text" class="validate" required>
                    <label class="add-label" for="cookbook_amazon">cookbook amazon</label>
                </div>
                <div class="col s1"></div>
            </div>
            <!--add cookbook description-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-list fa-2x icon hide-on-small-only"></i>
                </div>
                <div class="input-field col s11">
                    <textarea id="cookbook_desc" name="cookbook_desc" class="validate" required></textarea>
                    <label class="add-label" for="cookbook_desc">cookbook description</label>
                </div>
                <div class="col s1"></div>
            </div>
            <!--submit form info to DB-->
            <div class="row center-align">
                <div class="col s12">
                    <button class="btn" type="submit">add cookbook</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}