{% extends "base.html" %}
{% block content %}

<!--content container-->
<div class="container">
    <div class="row center-align">
        <h3>categories</h3>
        <!--show which user is logged in to the site-->
        {% if 'user' in session %}
        <p class="center-align">logged in: {{session.user}}</p>
        {% endif %}

    </div>
    <div class="col s12 xl9">
        <!--first row containing 3 Materialize cards-->
        <div class="row">
            <!--Card 1-->
            <div class="col s12 m4">
                <div class="card cat-card">
                    <div class="card-image waves-effect waves-block waves-light" title="prawn starter">
                        <!--image and FAB links to show recipes-->
                        <a href="{{url_for('show_starters') }}"><img src="/static/images/starter.jpg"
                                alt="starter type food"></a>
                    </div>
                    <div class="card-content center-align">
                        <p>starters</p>
                    </div>
                </div>
            </div>
            <!--Card 2-->
            <div class="col s12 m4">
                <div class="card cat-card">
                    <div class="card-image waves-effect waves-block waves-light" title="sea bass and potatoes">
                        <!--image and FAB links to show recipes-->
                        <a href="{{url_for('show_mains') }}"><img src="/static/images/mains.jpg"
                                alt="main type food"></a>
                    </div>
                    <div class="card-content center-align">
                        <p>mains</p>
                    </div>
                </div>
            </div>
            <!--Card 3-->
            <div class="col s12 m4">
                <div class="card cat-card">
                    <div class="card-image waves-effect waves-block waves-light" title="show desserts">
                        <!--image and FAB links to show recipes-->
                        <a href="{{url_for('show_desserts') }}"><img src="/static/images/dessert.jpg"
                                alt="chocolate dessert"></a>
                    </div>
                    <div class="card-content center-align">
                        <p>desserts</p>
                    </div>
                </div>
            </div>
        </div>
        <!--second row containing 3 Materialize cards-->
        <div class="row">
            <!--Card 4-->
            <div class="col s12 m4">
                <div class="card cat-card">
                    <div class="card-image waves-effect waves-block waves-light" title="show sides">
                        <!--image and FAB links to show recipes-->
                        <a href="{{url_for('show_sides') }}"><img src="/static/images/sides.jpg"
                                alt="side of carrots"></a>
                    </div>
                    <div class="card-content center-align">
                        <p>sides</p>
                    </div>
                </div>
            </div>
            <!--Card 5-->
            <div class="col s12 m4">
                <div class="card cat-card">
                    <div class="card-image waves-effect waves-block waves-light" title="show cakes">
                        <!--image and FAB links to show recipes-->
                        <a href="{{url_for('show_cakes') }}"><img src="/static/images/biscuits.jpg"
                                alt="chocolate bourbon"></a>
                    </div>
                    <div class="card-content center-align">
                        <p>cakes & biscuits</p>
                    </div>
                </div>
            </div>
            <!--Card 6-->
            <div class="col s12 m4">
                <div class="card cat-card">
                    <div class="card-image waves-effect waves-block waves-light" title="show drinks">
                        <!--image and FAB links to show recipes-->
                        <a href="{{url_for('show_drinks') }}"><img src="/static/images/drink.jpg"
                                alt="cocktail glass with manhattan"></a>
                    </div>
                    <div class="card-content center-align">
                        <p>drinks</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}