{% extends "base.html" %}
{% block content %}

<!--content container-->
<div class="container">
    <div class="row">
        <h3 class="center-align">cookbooks</h3>
        <!--show which user is logged in to the site-->
        <p class="right-align">logged in: {{session.user}}</p>
    </div>
    <!--search bar-->
    <div class="row card-panel">
        <!--form to allow user to input search parameters-->
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" class="validate">
                    <label for="query">search</label>
                </div>
            </div>
            <div class="row center-align">
                <div class="col s12">
                    <button type="submit" class="btn">
                        <i class="fas fa-search left"></i>search
                    </button>
                    <a href="{{ url_for('all_recipes') }}" class="red btn">reset</a>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <p class="center-align">All books supplied via Amazon</p>
        <p class="center-align">If you've added a recipe and the cookbook isn't listed below - send us a <a
                class="message" href="mailto:larder-admin@larder.com">message</a>!
        </p>

        <!--jinja for loop to retrieve all the cookbooks from the DB-->
        {% for cookbook in cookbooks %}
        <div class="col s12 m6 xl4">
            <!--Materialize card format to show cookbooks-->
            <div class="card">
                <!--Materialize card structure - image-->
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ cookbook.cookbook_image }}">
                </div>
                <div class="card-content center-align">
                    <div class="row">
                        <span class="card-title activator" id="rec-style">{{ cookbook.cook_name }}<i
                                class="right"></i></span>
                        <span class="card-title-book" id="rec-style">{{ cookbook.cookbook_name }}</span>
                        <p class="book-chef">by {{ cookbook.cookbook_chef }}</p>
                        <hr>
                        <form class="hide" id="recipe-search" action="{{ url_for('search_recipe')}}" method="POST">
                            <input type="text" name="query2" value="{{ cookbook.cookbook_chef }}" id="query2">
                            <label for="query2"></label>
                            <input type="text" name="query3" value="{{ cookbook.cookbook_name }}" id="query3">
                            <label for="query3"></label>
                        </form>
                        <button type="submit" form="recipe-search" class="btn left">recipes</button>
                        <a href="{{ cookbook.cookbook_amazon }}" target="_blank" class="btn right">buy now</a>
                    </div>
                </div>
                <!--Materialize card structure - on click of image-->
                <div class="card-reveal">
                    <span class="card-title"><i class="far fa-times-circle right"></i></span><br>
                    <span>{{ cookbook.cookbook_name }}</span><br>
                    <span>Chef: {{ cookbook.cookbook_chef }}</span><br>
                    <hr>
                    <span>{{ cookbook.cookbook_desc }}</span>
                    <!--if larder-admin is logged in they are able to edit or delete it from the DB-->
                    {% if session.user|lower == "larder-admin"|lower %}
                    <div class="row center-align rec-card">
                        <a href="{{ url_for('edit_cookbook', cookbook_id=cookbook._id) }}" class="btn right">edit</a>
                        <a href="{{ url_for('delete_cookbook', cookbook_id=cookbook._id) }}"
                            class="btn red left">delete</a><br>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}