{% extends "base.html" %}
{% block content %}

<!--content container-->
<div class="main-container container">
    <div class="row center-align">
        <h3>drinks</h3>
        <!--show which user is logged in to the site-->
        {% if 'user' in session %}
        <p class="center-align">logged in: {{session.user}}</p>
        {% endif %}
    </div>
    <!--search bar-->
    <div class="row card-panel">
        <!--form to allow user to input search parameters-->
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" class="validate search">
                    <label for="query">search</label>
                </div>
            </div>
            <div class="row center-align">
                <div class="col s12">
                    <button type="submit" class="btn">
                        <i class="fas fa-search left"></i>search
                    </button>
                    <a href="{{ url_for('all_recipes') }}" class="red-btn btn">reset</a>
                </div>
            </div>
        </form>
    </div>
    {% if recipes.count()>0 %}
    <div class="row">
        <!--jinja for loop to pull individual recipes from DB-->
        {% for recipe in recipes %}
        <div class="col s12 m6 xl4">
            <!--Materialize card strucure-->
            <div class="card ">
                <!--Materialize card structure - clickable image to activate reveal-->
                <div class="card-image waves-effect waves-block waves-light" title="click for more info">
                    <img class="activator" src="{{ recipe.recipe_image }}" alt="image of {{ recipe.recipe_name }}">
                </div>
                <!--Materialize card structure - text below image-->
                <div class="card-content center-align">
                    <p class="card-title activator rec-style">{{ recipe.recipe_name }}<i
                            class="material-icons right"></i></p>
                    <p>added by {{ recipe.recipe_added}}</p>
                    <hr>
                    <!--<a> tag to activate the show_recipe function-->
                    <p class="recipe-p"><a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}" class="btn">Full
                            recipe...</a></p>
                </div>
                <!--Materialize card structure - reveal further info about recipe-->
                <div class="card-reveal">
                    <span class="card-title">
                        <i class="far fa-times-circle right"></i></span><br>
                    <span>{{ recipe.recipe_name }}</span><br><br>
                    <span>Category:</span><span class="right">{{ recipe.category_name }}</span><br>
                    <span>Chef:</span><span class="right">{{ recipe.recipe_chef }}</span><br>
                    <span>Cookbook:</span><span class="right">{{ recipe.cookbook_name }}</span><br>
                    <span>Difficulty:</span><span class="right">{{ recipe.recipe_difficulty }}</span><br>
                    <span>Cooking Time:</span><span class="right">{{ recipe.recipe_time }}</span>
                    <!--jinja if statement to allow <a> tags to show if the user is created the recipe and is logged in-->
                    {% if session.user|lower == recipe.recipe_added|lower %}
                    <div class="row center-align rec-card">
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn center-align"><i
                                class="far fa-edit"></i>edit</a>
                    </div>
                    <!--if larder-admin is logged in they are able to edit or delete it from the DB-->
                    {% elif session.user|lower == "larderadmin"|lower %}
                    <div class="row center-align rec-card">
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn center-align"><i
                                class="far fa-edit"></i>edit</a>
                    </div>
                    {% endif %}
                    <div class="center-align">
                        <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}" class="btn">Full
                            recipe...</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {%    <!--else statement if no search results are found-->
        {% else %}
    <div class="center-align">
        <h3>Oh No!</h3>
        <img class="sad-face" src="static/images/sad-face.png" alt="sad face">
        <h3>The larder is empty!</h3>
        <h3>You should restock it!</h3>
        <!--checks to see if user is logged in-->
        {% if 'user' in session %}
        <!--sends user to add_recipe.html-->
        <h3>Why not <a class="btn-large" href="{{ url_for('add_recipe') }}">add</a> a recipe?</h3>
        <!--sends user to login.html or register.html-->
        {% else %}
        <h3>Why not <a class="btn-large" href="{{ url_for('login') }}">login</a> / <a class="btn-large"
                href="{{ url_for('register') }}">register</a> and add a recipe?</h3>
        {% endif %}
    </div>
    {% endif %}
</div>

{% endblock%}