{% extends "base.html" %}
{% block content %}

<h3 class="center-align">edit recipe</h3>
<!--content container-->
<div class="container">
    <!--show which user is logged in to the site-->
    {% if 'user' in session %}
    <p class="center-align">logged in: {{session.user}}</p>
    {% endif %}
    <!--Materialize card-->
    <div class="row card-panel">
        <!--form to allow display and editing of recipe info-->
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <!--display / edit recipe category-->
            <div class="row">
                <div class="col s1" id="icon">
                    <i class="fas fa-question-circle icon-size fa-2x"></i>
                </div>
                <div class="input-field col s10">
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>recipe category</option>
                        <!--jinja loop to pull category names from DB-->
                        {% for category in categories %}
                        <!--checks to see which category name is in the DB and displays it on the DOM-->
                        {% if category.category_name == recipe.category_name %}
                        <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col s1"></div>
            </div>
            <!--display / edit recipe name-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-bread-slice fa-2x"></i>
                </div>
                <div class="input-field col s10">
                    <input id="recipe_name" name="recipe_name" value="{{ recipe.recipe_name }}" type="text"
                        class="validate">
                </div>
                <div class="col s1"></div>
            </div>
            <!--display / edit recipe chef-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-user fa-2x"></i>
                </div>
                <div class="input-field col s10">
                    <input id="recipe_chef" name="recipe_chef" value="{{ recipe.recipe_chef }}" type="text"
                        class="validate">

                </div>
                <div class="col s1"></div>
            </div>
            <!--display / edit recipe cookbook name-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-book fa-2x"></i>
                </div>
                <div class="input-field col s10">
                    <input id="cookbook_name" name="cookbook_name" value="{{ recipe.cookbook_name }}" type="text"
                        class="validate">

                </div>
                <div class="col s1"></div>
            </div>
            <!--display / edit recipe image URL-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-camera fa-2x"></i>
                </div>
                <div class="input-field col s10">
                    <input id="recipe_image" name="recipe_image" value="{{ recipe.recipe_image }}" type="text"
                        class="validate">

                </div>
                <div class="col s1"></div>
            </div>
            <!--display / edit recipe difficulty-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-user-cog fa-2x"></i>
                </div>
                <div class="input-field col s10">
                    <input id="recipe_difficulty" name="recipe_difficulty" value="{{ recipe.recipe_difficulty }}"
                        type="text" class="validate">

                </div>
                <div class="col s1"></div>
            </div>
            <!--display / edit recipe time-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-clock fa-2x"></i>
                </div>
                <div class="input-field col s10">
                    <input id="recipe_time" name="recipe_time" value="{{ recipe.recipe_time }}" type="text"
                        class="validate">

                </div>
                <div class="col s1"></div>
            </div>
            <!--display / edit recipe ingredients-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-list fa-2x"></i>
                </div>
                <div class="input-field col s10 input_ing_wrap">
                    <!--jinja for loop to display every ingredient entry in array-->
                    {% for ingredient in recipe.recipe_ingredients %}
                    {% if loop.index == 0 %}
                    {% else %}
                    <input id="recipe_ingredients{{ loop.index }}" name="recipe_ingredients" type="text"
                        value="{{ ingredient }}" class="validate">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!--add extra ingredient button-->
            <div class="row">
                <div class="col s1">
                    <a href="#" class="add_ing_button"><i class="far fa-plus-square"></i></a>
                </div>
            </div>
            <!--display / edit recipe method-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-list fa-2x"></i>
                </div>
                <div class="input-field col s10 input_meth_wrap">
                    <!--jinja for loop to display every method entry in array-->
                    {% for step in recipe.recipe_method %}
                    {% if loop.index == 0 %}
                    {% else %}
                    <textarea id="recipe_method{{ loop.index }}" name="recipe_method">{{ step }}</textarea>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <!--add extra method button-->
            <div class="row">
                <div class="col s1">
                    <a href="#" class="add_meth_button"><i class="far fa-plus-square"></i></a>
                </div>
            </div>
            <!--display added by-->
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-user-alt fa-2x"></i>
                </div>
                <div class="input-field col s10">
                    <input id="recipe_added" name="recipe_added" value="{{ recipe.recipe_added }}" type="text"
                        class="validate">
                </div>
                <div class="col s1"></div>
            </div>
            <!--submit form to DB-->
            <div class="row">
                <a href="{{ url_for('all_recipes') }}" class="btn red-btn left">cancel</a>
                <button type="submit" class="btn right">edit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}