{% extends "base.html" %}
{% block content %}

<h3 class="center-align">edit cookbook</h3>

<div class="container">
    <p class="right-align">logged in: {{session.user}}</p>
    <div class="row card-panel">
        <form class="col s12" method="POST" action="{{ url_for('edit_cookbook', cookbook_id=cookbook._id) }}">
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-bread-slice fa-2x" id="icon"></i>
                </div>
                <div class="input-field col s10">
                    <input value="{{ cookbook.cookbook_name }}" id=" cookbook_name" name="cookbook_name" type="text"
                        class="validate">
                    <label for="cookbook_name">cookbook name</label>
                </div>
                <div class="col s1"></div>
            </div>
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-user fa-2x" id="icon"></i>
                </div>
                <div class="input-field col s10">
                    <input value="{{ cookbook.cookbook_chef }}" id="cookbook_chef" name="cookbook_chef" type="text"
                        class="validate">
                    <label for="cookbook_chef">cookbook chef</label>
                </div>
                <div class="col s1"></div>
            </div>
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-book fa-2x" id="icon"></i>
                </div>
                <div class="input-field col s10">
                    <input value="{{ cookbook.cookbook_image }}" id="cookbook_image" name="cookbook_image" type="text"
                        class="validate">
                    <label for="cookbook_image">cookbook image</label>
                </div>
                <div class="col s1"></div>
            </div>
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-camera fa-2x" id="icon"></i>
                </div>
                <div class="input-field col s10">
                    <input value="{{ cookbook.cookbook_amazon }}" id="cookbook_amazon" name="cookbook_amazon"
                        type="text" class="validate">
                    <label for="cookbook_amazon">cookbook amazon</label>
                </div>
                <div class="col s1"></div>
            </div>
            <div class="row">
                <div class="col s1">
                    <i class="fas fa-list fa-2x" id="icon"></i>
                </div>
                <div class="input-field col s10">
                    <textarea value="{{ cookbook.cookbook_desc }}" id="cookbook_desc" name="cookbook_desc" type="text"
                        class="validate"></textarea>
                    <label for="cookbook_desc">cookbook description</label>
                </div>
                <div class="col s1"></div>
            </div>
            <div class="row center-align">
                <div class="col s12">
                    <button class="btn" type="submit">add cookbook</button>
                </div>
            </div>
    </div>
    </form>
</div>
</div>

{% endblock %}