{% extends "base.html" %}
{% block content %}

<div class="bg-container">
    <div class="container">
        <div class="row landing">

            <div class="col s12 l6 center-align">
                <h3>larder</h3>
            </div>
            <div class="col s12 l6 center-align">
                <ul>
                    <li class="center-align"><a class="land-link" href="{{ url_for('all_recipes') }}">recipes from your
                            favourite chef's!</a>
                    </li>
                    {% if session.user|lower %}
                    <li class="center-align"><a class="land-link" href="{{ url_for('add_recipe') }}">add your own
                            favourite recipes!</a></li>
                    {% else %}
                    <li class="center-align"><a class="land-link" href="{{ url_for('login') }}">add your own
                            favourite recipes!</a></li>
                    {% endif %}
                    <li class="center-align"><a class="land-link" href="{{ url_for('all_books') }}">look for new
                            cookbooks!</a></li>
                </ul>

            </div>

        </div>

    </div>
</div>

{% endblock %}