{% extends "base.html" %}
{% block content %}

<!--page background image container-->
<div class="bg-container">
    <!--content container-->
    <div class="container">
        <div class="row landing">
            <div class="col s12 m3">
                <h4 class="center-align">log in</h4>
            </div>
            <div class="col s12 m9 offset-m4">
                <!--form for processing log in actions-->
                <form method="POST" action="{{ url_for('login') }}">
                    <div class="row">
                        <div class="input-field col s12 m10 center-align reglog">
                            <i class="fas fa-user-alt prefix"></i>
                            <input id="username" name="username" type="text" minlength="5" maxlength="15"
                                pattern="^[a-zA-Z0-9]{5,15}$" class="validate" requiredclass="validate" required>
                            <label for="username">username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12 m10 center-align reglog">
                            <i class="fas fa-lock prefix"></i>
                            <input id="password" name="password" type="password" minlength="5" maxlength="15"
                                pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="password">password</label>
                        </div>
                    </div>
                    <!--submits login details -->
                    <div class="row center-align">
                        <button type="submit" class="btn btn-login">login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}