{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Recipe</h3>

<div class="container">
    <p>Testing to see if this works</p>
    {{ recipe.category_name }}<br>
    {{ recipe.recipe_name }}<br>
    {{ recipe.recipe_chef }}<br>
    {{ recipe.recipe_cookbook }}<br>
    <img src="{{ recipe.recipe_image }}" alt="{{recipe.recipe_name}}"><br>
    {{ recipe.recipe_difficulty }}<br>
    <h4>Ingredients</h4>
    {% for ingredient in recipe.recipe_ingredients %}
    <li>
        {{ ingredient }}
    </li>
    {% endfor %}
    <h4>Method</h4>
    {% for step in recipe.recipe_method %}
    <li>
        {{ step }}
    </li>
    {% endfor %}
    <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-large green">edit</a>
    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-large red">delete</a><br>

</div>

{% endblock %}