{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col s12 xl4">

            <h3 class="center-align">
                <h3 class="left-align"> {{ recipe.recipe_name }} </h3>
        </div>

        <div class="row">
            <div class="col s12 xl4">
                <img class="show-img" src="{{ recipe.recipe_image }}" alt="{{recipe.recipe_name}}"><br>
                <div class="col s3">
                    <span class="left-align">Category: </span>
                </div>
                <div class="col s9">
                    <span> {{ recipe.category_name }}</span><br>
                </div>
                <div class="col s3">
                    <span class="left-align">Chef: </span>
                </div>
                <div class="col s9">
                    <span> {{ recipe.recipe_chef }}</span><br>
                </div>
                <div class="col s3">
                    <span class="left-align">Cookbook: </span>
                </div>
                <div class="col s9">
                    <span> {{ recipe.recipe_cookbook }}</span><br>
                </div>
                <div class="col s3">
                    <span class="left-align">Difficulty: </span>
                </div>
                <div class="col s9">
                    <span> {{ recipe.recipe_difficulty }}</span><br>
                </div>
            </div>
            <div class="col s12 xl4">
                <h4>Ingredients</h4>
                {% for ingredient in recipe.recipe_ingredients %}
                <li>
                    {{ ingredient }}
                </li>
                {% endfor %}
                <h4>Method</h4>
                {% for step in recipe.recipe_method %}
                <li>
                    {{ step }}
                </li>
                {% endfor %}
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-large green">edit</a>
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-large red">delete</a><br>
            </div>
        </div>
    </div>
</div>

{% endblock %}