{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <h3 class="center-align">starters</h3>
        <p class="right-align">logged in: {{session.user}}</p>
    </div>

    <div class="row">
        {% for recipe in recipes %}
        <div class="col s12 m6 xl4">
            <div class="card ">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{ recipe.recipe_image }}">
                </div>
                <div class="card-content center-align">
                    <p class="card-title activator" id="rec-style">{{ recipe.recipe_name }}<i
                            class="material-icons right"></i></p>
                    <p>added by {{ recipe.recipe_added}}</p>
                    <hr>
                    <p class="recipe-p"><a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}" class="btn">Full
                            recipe...</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title">
                        <i class="far fa-times-circle right"></i></span><br>
                    <span>{{ recipe.recipe_name }}</span><br><br>
                    <span>Category:</span><span class="right">{{ recipe.category_name }}</span><br>
                    <span>Chef:</span><span class="right">{{ recipe.recipe_chef }}</span><br>
                    <span>Cookbook:</span><span class="right">{{ recipe.cookbook_name }}</span><br>
                    <span>Difficulty:</span><span class="right">{{ recipe.recipe_difficulty }}</span><br>
                    <span>Cooking Time:</span><span class="right">{{ recipe.recipe_time }}</span>
                    {% if session.user|lower == recipe.recipe_added|lower %}
                    <div class="row center-align rec-card">
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn right">edit</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                            class="btn red left">delete</a><br>
                    </div>
                    {% elif session.user|lower == "larder-admin"|lower %}
                    <div class="row center-align rec-card">
                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn right">edit</a>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                            class="btn red left">delete</a><br>
                    </div>
                    {% endif %}
                    <div class="center-align">
                        <br>
                        <hr>
                        <a href="{{ url_for('show_recipe', recipe_id=recipe._id) }}" class="btn">Full
                            recipe...</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock%}